.container{
  margin: 0 auto;
  margin-top: 50rpx;
  width: 100%;
  border-radius: 5%;
}

.title{
  width: 100%;
  font-weight: bold;
}

.info{
  font-family: serif;
  margin-top: 10rpx;
  width:100%;
}
.doctor{
  margin-top: 50rpx;
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 20rpx;
  text-decoration:underline;
  color: blue;
}