.ec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400rpx;
  border-radius: 5%;
  border:1px solid #96c2f1;
  background-color:snow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 设置阴影 */
  margin-bottom: 20rpx;
}
.charts{
	background-color: transparent;
	width: 95%;
	height: 95%;
}