.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 居中对齐整个组件内容 */
  width: 100%;
  background-color: #ffffff;
  /* 更专业的背景色 */
  border-radius: 10px;
  border: 1px solid #96c2f1;
  /* 更中性的边框颜色 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  /* 更轻微的阴影 */
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  padding: 10rpx;
  /* 添加内边距 */
  box-sizing: border-box;
}

.ec-container {
  width: 100%;
  height: 500rpx;
  /* 固定图表高度，确保显示清晰 */
  border-radius: 8px;
}