@import "/style/base/comm.css";
.top_bar {
  width: 100%;
  
}

/* date */
.search-date {
width:100%;
display: flex;
align-items: center;
  padding: 0 20rpx;
  margin-left: 25rpx;
}

.search-date .date-title {
	font-size: 28rpx;
	margin-right: 8rpx;
}

.search-date .date-group {
	color: #888;
	border: 1rpx solid #A4A6AE;
	border-radius: 10rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5rpx 20rpx;
	font-size: 29rpx;
}

.search-date .text-line1 {
	color: #A4A6AE;
	margin: 0 18rpx;
}

.search-date .text-line2 {
	color: rgb(0, 0, 0, 0.8);
}

.search-date .search-date-picker {
	width: 150rpx;
}

.list {
  width: 95%;
  margin: 0 auto;
}

.report-info {
  position: relative;
  margin-bottom: 20rpx;
  border: 1px solid #d4e2f0; /* 边框颜色调整为淡蓝色 */
  background-image: linear-gradient(to top, #e9f4ff 0%, #ffffff 100%); /* 浅蓝渐变背景 */
  border-radius: 16rpx; /* 更小的圆角，保持现代感 */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.05) 0px 4px 8px; /* 更轻盈的阴影 */
  padding: 24rpx;
  overflow: hidden;
}

.report-tag {
  position: absolute;
  top: 30rpx;
  right: 0;
  border-radius: 0;
  text-align: center;
  background-color: #4caf50; /* 标签条背景颜色改为绿色，传递积极感 */
  color: #fff;
  padding: 4px 12px;
  transform: rotate(45deg);
  font-size: 22rpx;
}

.date {
  font-size: 32rpx;
  font-weight: bold;
  color: #333333; /* 深灰色标题 */
}

.time {
  color: #666666; /* 中灰色文本 */
  font-size: 28rpx;
  margin-top: 10rpx;
}